.PostFilters {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    border-top: 2px solid var(--darken-lightgray);
    width: 90%;
}

.sort-widget__inp {
    min-width: 250px !important;
    /* width: fit-content; */
}