.PostList {
    margin: 0.75rem auto;
    width: var(--subcontainer-percent);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.PostList > *:nth-of-type(n + 4) {
    margin-top: 1.5rem;
}