.pagination-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    justify-content: center;
}

.pagination-container > button:not(:first-child) {
    margin-left: 1.5rem;
}