.Btn, .BtnDisabled, .PaginationBtnActive {
    min-width: 3rem;
    padding: 0.75rem 1rem;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    border: 2px solid var(--darken-accent);
    outline: none;
    color: var(--primary-darkgray);
    background-color: var(--accent);
    transition: .6s all;
    font-weight: 700;
}

.Btn:hover {
    box-shadow: 0 0 5px 1px var(--accent);
    border-color: var(--accent);
}

.BtnDisabled {
    background-color: var(--primary-lightgray);
    border-color:var(--secondary-lightgray);
    color: var(--darken-lightgray);
}
.BtnDisabled:hover {
    border: 2px solid var(--secondary-lightgray);
    color: var(--darken-lightgray);
    background-color: var(--primary-lightgray);
    cursor: not-allowed;
    box-shadow: none;
}

.PaginationBtnActive {
    background-color: var(--primary-lightgray);
    border-color: var(--secondary-lightgray);
    color: var(--primary-darkgray);
}